script(type='text/template', id='media_collection_template')
  | <div class="media_collection">
  |   <div class="ribbon ui-progressbar">
  |     <h2><%= name %></h2>
  |     <span class="delete_button x_icon"></span>
  |   </div>
  |   <div class="triangle-l"></div>
  |   <div class="triangle-r"></div>
  |   <ol class="media_items">
  |   </ol>
  |   <div class="new_media_item">
  |   </div>
  |   <span class="add_item button">
  |     <h3>Add Item</h3>
  |   </span>
  | </div>
