script(type='text/template', id='media_item_template')
  |  <li class="media_item<%= completed ? ' completed_media_item' : '' %>">
  |    <span class="delete_button x_icon"></span>
  |    <h3><%= name %></h3>
  |  </li>
