script(type='text/template', id='media_collection_template')
  | <div class="media_collection">
  |   <div class="ribbon">
  |     <h2><%= name %></h2>
  |   </div>
  |   <div class="triangle-l"></div>
  |   <div class="triangle-r"></div>
  |   <ol class="media_items">
  |   </ol>
  | </div>
