script(type='text/template', id='new_media_collection_template')
  | <span class="button">
  |   <h3>Add Media Collection</h3>
  | </span>
script(type='text/template', id='new_media_collection_form_template')
  | <h1>MC Form goes here TODO</h1>
