!!! 5
html(lang="en")
  head
    title CheckPt
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/LAB.min.js')
    :javascript
      |  $LAB.script('javascripts/jquery.min.js')
      |      .script('javascripts/underscore.min.js').wait()
      |      .script('javascripts/backbone.min.js').wait()
      |      .script('javascripts/application.js?' + Date.now());
  body
    #header
      h1 CheckPt
      .emphasis Consume Media Responsibly
    #content
      script(type='text/template', id='checkpt_template')
        | <ul class="media_collections">
        |  </ul>

      script(type='text/template', id='media_collection_template')
        |  <li class="media_collection">
        |    <%= name %><br />
        |    <ol class="media_items">
        |    </ol>
        |  </li>

      script(type='text/template', id='media_item_template')
        |  <li class="media_item"><%= name %></li>

      != body
