!!!
%html
  %head
    %title CheckPt
    %link{rel:'stylesheet', href:'/stylesheets/style.css'}
  %body
    #header
      %h1 CheckPt
      .emphasis Consume Media Responsibly
    #content
      = body
