!!! 5
html(lang="en")
  head
    title CheckPt
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='javascripts/LAB.min.js')
    :javascript
      |  $LAB.script('javascripts/jquery.min.js')
      |      .script('javascripts/underscore.min.js').wait()
      |      .script('javascripts/backbone.min.js').wait()
      |      .script('javascripts/views/checkpt_view.js')
      |      .script('javascripts/views/media_collection_view.js')
      |      .script('javascripts/views/media_item_view.js')
      |      .script('javascripts/models/media_item.js')
      |      .script('javascripts/models/media_item_collection.js')
      |      .script('javascripts/models/media_collection.js')
      |      .script('javascripts/models/checkpt.js').wait()
      |      .script('javascripts/application.js?' + Date.now());
  body
    #header
      h1 CheckPt
      .emphasis Consume Media Responsibly
    #content
      != partial('checkpt_template')

      != partial('media_collection_template')

      != partial('media_item_template')

      != body
